# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/migration_lock.toml

# Testing
coverage/

# Build
*.tsbuildinfo

# Vercel
.vercel/
.claude/
